.home {
    padding: 80px 0;
}

.home h1 {
    font-family: 'Puritan';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 45px;
    color: #333333;
    margin-bottom: 50px;
}

.home img {
    width: 100%;
    height: auto;
}