.modal p {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 26px;
    color: #000000;
    text-align: center;
    margin-bottom: 32px;
}

.modal button {
    margin: 0 auto;
}

.modal .btn__logout {
    border: 1px solid #FCDAD0;
    background: #FCDAD0;
    border-radius: 24px;
    padding: 12px 86px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    color: #E21D1D;
}

.modal .btn__cancel {
    border: none;
    background: none;
    padding: 12px 86px;
}